<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styleSheet" href="style.css">
</head>
<body>
    <h1>All Chats</h1>
    <form post="get" action="/chats/new">
        <button>New Chats</button>
        <br>
    </form>
    <%for(let chat of chats){%>

        <div class="chats">
            <p>from:<%=chat.from%></p>
            <div class="msg">
                <p><%=chat.message%>
                    <form method="get" action="/chats/<%=chat._id%>/edit">
                        <button>Edit</button>
                    </form>
                    <form method="get" action="/chats/<%=chat._id%>">
                        <button>show</button>
                    </form>
                </p>
            </div>
           
            <p>to:<%=chat.to%></p>
            <hr/>
            <p>created on:<%= chat.created_at.toString().split(" ")[4]%></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
            <% if (chat.updated_at){%>
                <hr/>
                <P>updated on:<%= chat.updated_at.toString().split(" ")[4]%></P>
                <p><%= chat.updated_at.toString().split(" ").slice(0,4).join(" ")%></p>
           <% }%>

           <form method="post" action="/chats/<%=chat._id%>?_method=DELETE">
            <button>Delete</button>
           </form>
            
        </div>
    <%}%>
</body>
</html>

